<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<form action="{:url('goods/save')}" method="post">
			<table border="1" cellspacing="0" cellpadding="10" align="center">
				<tr>
					<th colspan="2">添加商品</th>
				</tr>
				<tr>
					<td>商品编号</td>
					<td><input type="text"  id="" value="" name="product_id" /></td>
				</tr>
				<tr>
					<td>商品名称</td>
					<td><input type="text" id="" value="" name="product_name" /></td>
				</tr>
				<tr>
					<td>商品价格</td>
					<td><input type="text" id="" value="" name="price" /></td>
				</tr>
				<tr>
					<td>商品供应商</td>
					<td><input type="text" id="" value="" name="suppliers" /></td>
				</tr>
				<tr>
					<td>商品描述</td>
					<td><textarea name="describes" id="" cols="30" rows="10"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" id="" name="" value="提交" />
					</td>
				</tr>
			</table>
		</form>
	</body>

</html>

